<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NorCal Time Trial Series  </title>
    <link href="../assets/style/index.css" rel="stylesheet"/>
</head>
<body>
    <div
    class="container">
    <div class="bloque1">
     <div class ="title">
       
      <h1> NorCal Time Trial Series </h1> 
     </div>
   

     <div> 
        <h2 class="Upcoming-Events">Upcoming Events</h2>
    </div>
    </div>

       
       <div class="fotologo"><img src="https://s3.amazonaws.com/gbstool/courses/1304/11334/LOGO.png?AWSAccessKeyId=AKIAJBIZLMJQ2O6DKIAA&Expires=1657875600&Signature=PgyipazzgwQ46WWwlk0OrlLHx3A%3D" height="200px" width="200px">
    
       </div>
        <div class="navbar">
            <nav>
            
                     
            <ul>
                <li><a href="./index.html"> Home </a> </li>
                <li><a href="./about.html">About </a> </li>
                <li><a href="./contact.html">Contact </a></li>
          </ul>

          
        </nav>
        </div>
        <div 
        class="textohome">
        <div class="mes1"><h4>February 12</h4></div>
      <div class="parrafo1" ><p>Board Meeting</p></div>

        <div class="mes2"><h4>February 25</h4> </div>
      <div class="parafo2"><p>Drivers Zoom Meeting</p></div>

        <div class="mes3"><h4>March 12</h4></div>
      <div class= "parrafo3"><p>First Event at Thunderhill!</p></div>

        </div>


                
            </nav>
        </div>

        
        
    </div>

    </div>
    
</body>
</html>